// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// App Colors
$logo-r: #450706;
$logo-r1: #2b0303ce;

$logo-y: #d1b57a;
$logo-y1: #ffffffd5;


$t-black: #222;
$color-r: #b33939;
$footer-b: #2c2c54;
$footer-bc: #222244;
$price-c:#b33939;


// Brands
$whatsapp: #25d366;
