// Fonts
@import url('https://fonts.googleapis.com/css?family=Tajawal');

// Variables
@import 'variables';

html {
  direction: rtl;
}

body {
  font-family: "tajawal",sans-serif;
  text-align: right;
}

//------------------------------------------------ App Css -------------------------------------------------------
#home {
  #app {
    header {
      .navbar {
          .navbar-nav {
            margin-right: auto;
            margin-left: 0;
            .upper-nav {
              .search-top {
                margin-left: 16px;
                .input-group {
                  .input-group-prepend {
                    span {
                      border-right: 1px solid #eee;
                      border-left: none;
                      border-radius: 0 5px 5px 0;
                    }
                  }
                  input {
                    border-right: none;
                    border-left: 1px solid #eee;
                    border-radius: 5px 0 0 5px;
                  }
                }
              }
              .n-social {
                margin-right: 15px;
              }
              .n-tel, .n-whatsapp {
                direction: ltr;
                margin-right: 5px;
              }
            }
          }
          .lang-m {
            right: unset;
            left: 42%;
          }
      }
    }
    footer {
      ul {
        padding-right: 0;
      }
      #fs-contact {
        .n-social {
          margin: 0 0 0 20px;
          margin-right: 0;
        }
        .n-tel, .n-whatsapp {
          direction: ltr;
          a {
            justify-content: right;
          }
        }
      }
    }
    .form-group {
      .iti {
        input {
          direction: rtl;
        }
      }
    }
    #homepage {
      #home-carousel {
        .carousel-control-prev {
          justify-content: flex-end;
        }
        .carousel-control-next {
          justify-content: flex-start;
        }
      }
      #filters {
        button[type='submit'] {
          font-weight: 600;
        }
        .bootstrap-select {
          .dropdown-menu li {
            text-align: right;
          }
          .dropdown-toggle {
            &::after {
              position: absolute;
            }
          }
        }
        .irs {
          direction: ltr;
        }
      }
      #estates-row {
        .c-col {
          .all {
            left: 0;
            right: unset;
          }
          .estate {
            .ar {
              right: 0;
              left: unset;
              border-top-left-radius: 0px;
              border-top-right-radius: 8px;
            }
          }
        }
      }
      #blog-row {
        .c-col {
          .all {
            left: 0;
            right: unset;
          }
          .article {
            .ar {
              right: 0;
              left: unset;
              border-radius: 0 8px 0 0;
            }
          }
        }
      }
      #faq-row {
        .c-col {
          .all {
            right: unset;
            left: 0;
          }
          h5 a {
            font-weight: 600;
          }
        }
      }
    }
    #posts-menu {
      h1 {
        padding-right: 1.5rem;
        padding-left: 0;
      }
      #posts {
        .post {
          .post-title {
            font-weight: 600;
          }
        }
      }
    }
    #contact {
      .address {
        p svg {
          margin-left: 7px;
          margin-right: 0;
        }
      }
      .contact {
        ul {
          padding-right: 0;
          .n-tel, .n-whatsapp,.n-email {
            a {
              .num {
                direction: ltr;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    #estates-menu {
      h1 {
        padding-left: 0;
        padding-right: 1.5rem;
      }
      #filters {
        padding-left: 0;
        padding-right: 1.5rem;
        .bootstrap-select {
          .dropdown-menu li {
            text-align: right;
          }
          .dropdown-toggle {
            &::after {
              position: absolute;
            }
          }
        }
        .irs {
          direction: ltr;
        }
      }
      #estates {
        .estate {
          .ar {
            right: 0;
            left: unset;
            border-radius: 0 8px 0 0;
          }
        }
      }
    }
    #post_p {
      .post-img {
        img {
          border-top-left-radius: 0;
          border-top-right-radius: 8px;
        }
      }
      .overlay {
        border-top-left-radius: 0;
        border-top-right-radius: 8px;
      }
      h1 {
        padding-left: 0;
        padding-right: 1.5rem;
      }
      .post-content {
        padding-left: 0;
        padding-right: 1.5rem;
      }
      #c-form {
        padding: 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        position: sticky;
        top: 0;
        button[type="submit"] {
          background: $whatsapp;
          color: #fff;
          width: 100%;
          font-size: 18px;
        }
        h3 {
          color: #fff;
          margin-bottom: .5rem;
        }
        p {
          color: #eee;
        }
        input, textarea {
          border-radius: 0;
          border: 0;
        }
      }
      .post-comments {
        padding-left: 0;
        padding-right: 1.5rem;
        .c-item {
          .c-info {
            img {
              margin-right: 0;
              margin-left: 12px;
            }
          }
        }
      }
      #comment {
        margin-left: 0;
        margin-right: 1.5rem;
      }
    }
    #estate_p {
      padding-left: 0;
      padding-right: 3%;
      #estate {
        .estate-title {
          text-shadow: -3px 2px 0px #bbb;
        }
      }
      .proj-show-carousel {
        .owl-nav {
          .owl-prev {
            left: 0;
          }
        }
      }
      #similar {
        h3 {
          margin-bottom: .5rem;
          font-weight: 600;
        }
        .sim {
          .ar {
            right: 0;
            left: unset;
            border-top-left-radius: 0;
            border-top-right-radius: 8px;
          }
        }
      }
    }
    #faq_p {
      #faq-row {
        a {
          font-weight: 600;
        }
      }
    }
    #search-menu {
      h1 {
        padding-left: unset;
        padding-right: 1.5rem;
      }
    }
  }
}
//----------------------------------------------------------------------------------------------------------------
