@import url(https://fonts.googleapis.com/css?family=Tajawal);
html {
  direction: rtl;
}

body {
  font-family: "tajawal", sans-serif;
  text-align: right;
}

#home #app header .navbar .navbar-nav {
  margin-right: auto;
  margin-left: 0;
}
#home #app header .navbar .navbar-nav .upper-nav .search-top {
  margin-left: 16px;
}
#home #app header .navbar .navbar-nav .upper-nav .search-top .input-group .input-group-prepend span {
  border-right: 1px solid #eee;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
#home #app header .navbar .navbar-nav .upper-nav .search-top .input-group input {
  border-right: none;
  border-left: 1px solid #eee;
  border-radius: 5px 0 0 5px;
}
#home #app header .navbar .navbar-nav .upper-nav .n-social {
  margin-right: 15px;
}
#home #app header .navbar .navbar-nav .upper-nav .n-tel, #home #app header .navbar .navbar-nav .upper-nav .n-whatsapp {
  direction: ltr;
  margin-right: 5px;
}
#home #app header .navbar .lang-m {
  right: unset;
  left: 42%;
}
#home #app footer ul {
  padding-right: 0;
}
#home #app footer #fs-contact .n-social {
  margin: 0 0 0 20px;
  margin-right: 0;
}
#home #app footer #fs-contact .n-tel, #home #app footer #fs-contact .n-whatsapp {
  direction: ltr;
}
#home #app footer #fs-contact .n-tel a, #home #app footer #fs-contact .n-whatsapp a {
  justify-content: right;
}
#home #app .form-group .iti input {
  direction: rtl;
}
#home #app #homepage #home-carousel .carousel-control-prev {
  justify-content: flex-end;
}
#home #app #homepage #home-carousel .carousel-control-next {
  justify-content: flex-start;
}
#home #app #homepage #filters button[type=submit] {
  font-weight: 600;
}
#home #app #homepage #filters .bootstrap-select .dropdown-menu li {
  text-align: right;
}
#home #app #homepage #filters .bootstrap-select .dropdown-toggle::after {
  position: absolute;
}
#home #app #homepage #filters .irs {
  direction: ltr;
}
#home #app #homepage #estates-row .c-col .all {
  left: 0;
  right: unset;
}
#home #app #homepage #estates-row .c-col .estate .ar {
  right: 0;
  left: unset;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}
#home #app #homepage #blog-row .c-col .all {
  left: 0;
  right: unset;
}
#home #app #homepage #blog-row .c-col .article .ar {
  right: 0;
  left: unset;
  border-radius: 0 8px 0 0;
}
#home #app #homepage #faq-row .c-col .all {
  right: unset;
  left: 0;
}
#home #app #homepage #faq-row .c-col h5 a {
  font-weight: 600;
}
#home #app #posts-menu h1 {
  padding-right: 1.5rem;
  padding-left: 0;
}
#home #app #posts-menu #posts .post .post-title {
  font-weight: 600;
}
#home #app #contact .address p svg {
  margin-left: 7px;
  margin-right: 0;
}
#home #app #contact .contact ul {
  padding-right: 0;
}
#home #app #contact .contact ul .n-tel a .num, #home #app #contact .contact ul .n-whatsapp a .num, #home #app #contact .contact ul .n-email a .num {
  direction: ltr;
  font-weight: 600;
}
#home #app #estates-menu h1 {
  padding-left: 0;
  padding-right: 1.5rem;
}
#home #app #estates-menu #filters {
  padding-left: 0;
  padding-right: 1.5rem;
}
#home #app #estates-menu #filters .bootstrap-select .dropdown-menu li {
  text-align: right;
}
#home #app #estates-menu #filters .bootstrap-select .dropdown-toggle::after {
  position: absolute;
}
#home #app #estates-menu #filters .irs {
  direction: ltr;
}
#home #app #estates-menu #estates .estate .ar {
  right: 0;
  left: unset;
  border-radius: 0 8px 0 0;
}
#home #app #post_p .post-img img {
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
}
#home #app #post_p .overlay {
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
}
#home #app #post_p h1 {
  padding-left: 0;
  padding-right: 1.5rem;
}
#home #app #post_p .post-content {
  padding-left: 0;
  padding-right: 1.5rem;
}
#home #app #post_p #c-form {
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #005C97;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #363795, #005C97);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#home #app #post_p #c-form button[type=submit] {
  background: #25d366;
  color: #fff;
  width: 100%;
  font-size: 18px;
}
#home #app #post_p #c-form h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}
#home #app #post_p #c-form p {
  color: #eee;
}
#home #app #post_p #c-form input, #home #app #post_p #c-form textarea {
  border-radius: 0;
  border: 0;
}
#home #app #post_p .post-comments {
  padding-left: 0;
  padding-right: 1.5rem;
}
#home #app #post_p .post-comments .c-item .c-info img {
  margin-right: 0;
  margin-left: 12px;
}
#home #app #post_p #comment {
  margin-left: 0;
  margin-right: 1.5rem;
}
#home #app #estate_p {
  padding-left: 0;
  padding-right: 3%;
}
#home #app #estate_p #estate .estate-title {
  text-shadow: -3px 2px 0px #bbb;
}
#home #app #estate_p .proj-show-carousel .owl-nav .owl-prev {
  left: 0;
}
#home #app #estate_p #similar h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#home #app #estate_p #similar .sim .ar {
  right: 0;
  left: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
}
#home #app #faq_p #faq-row a {
  font-weight: 600;
}
#home #app #search-menu h1 {
  padding-left: unset;
  padding-right: 1.5rem;
}
